@font-face {
    font-family: 'Norse Bold';
    src:
        url("./font/norse-bold/norse-bold-webfont.woff2"),
        url("./font/norse-bold/norse-bold-webfont.woff");
    font-weight: inherit;
    font-size: inherit;
}

:root {
    --bg-body: #f9fafb;
    --border-input-color: #E5E7EB;
    --btn-bg: #596d48;
    --input-focus-color: #708ee5;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-body);
}

img, picture, video, canvas, svg {
    display: block;
}

input, button, textarea, select {
    display: block;
    font: inherit;
    max-width: 100%;
}

.main__section {
    display: flex;
    height: 100dvh;
}

.img__section {
    position: relative;
    height: inherit;
}

.img__section img {
    max-height: 100%;
}

.dark__background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 20%;
    position: absolute;
    top: 20%;
    background-image: url("./img/odin-lined.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 30%;
}

.dark__background::after {
    content: "ODIN";
    color: #fff;
    font-family: 'Norse Bold';
    font-size: 8rem;
    position: absolute;
    right: 25%;
}

.author__credit {
    position: absolute;
    bottom: 2%;
    color: white;
    left: 25%;
}

.author__credit a:hover,
.author__credit a:link,
.author__credit a:visited {
    color: #fff;
}

.form__section {
    align-self: center;
}

.form__section > * {
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0 0 0 50px;
}

.form__section > h1,
.form__wrapper > h1 {
    font-size: 1.6rem;
}

.disclaimer {
    max-width: 65%;
}

.form__wrapper {
    background-color: #fff;
    padding: 3em 50px;
    box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.form__caption {
    margin-top: -1em;
    margin-bottom: 1em;
}

#form {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 10%;
}

.input__wrapper {
    width: min(350px, 100%);
}

.input__wrapper label {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
}

.input__wrapper input {
    width: 100%;
    padding: 0.3em 0.6em;
    margin-bottom: 1em;
    border-radius: 6px;
    border: 2px solid var(--border-input-color);
}

.button__wrapper button {
    background-color: var(--btn-bg);
    padding: 0.5em 2.5em;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1.5em;
}

.account__desc {
    font-weight: 500;
}

.account__desc a,
.account__desc a:link,
.account__desc a:visited {
    color: var(--btn-bg);
    text-decoration: none;
    font-weight: 700;
}

input:placeholder-shown {
    color: transparent;
}

input:focus,
input:valid:not(:placeholder-shown):focus,
input:invalid:not(:placeholder-shown):focus {
    border: 2px solid var(--input-focus-color);
    outline: 0;
}

input:valid:not(:placeholder-shown) {
    border: 2px solid var(--btn-bg);
}

input:invalid:not(:placeholder-shown) {
    border: 2px solid red;
}